$Soft-orange: hsl(35, 77%, 62%);
$Soft-red: hsl(5, 85%, 63%);
$Off-white: #fffdfa;
$Grayish-blue: #c5c6ce;
$Dark-grayish-blue: hsl(236, 13%, 42%);
$Very-dark-blue: hsl(240, 100%, 5%);

// // FONT
$default-font-size: 1.5rem;
