.main {
  &-article {
    padding-right: 2rem;
    grid-column: 1/3;
    @include respond(phone) {
      grid-column: 1/-1;
      padding-right: 0;
    }
    .hero-img {
      &-box {
        max-width: 100%;
        background-image: url("../assets/images/image-web-3-desktop.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 65%;
        @include respond(phone) {
          background-image: url("../../assets/images/image-web-3-mobile.jpg");
          height: 40vh;
        }
      }
    }
  }
  &-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 3rem;
    @include respond(phone) {
      grid-template-columns: 1fr;
    }
  }
  &-heading {
    h1 {
      font-size: 3.6rem;
      @include respond(phone) {
        font-size: 4rem;
      }
    }
    grid-column: 1/2;
    padding-right: 6.4rem;
    @include respond(phone) {
      grid-column: 1/-1;
      padding-right: 0;
    }
  }
  &-sub {
    grid-column: 2/4;
    @include respond(phone) {
      grid-column: 1/-1;
    }
    .description {
      line-height: 1.6;
      color: $Dark-grayish-blue;
      font-size: 16px;
    }
  }
}
.btn__read-more {
  background-color: $Soft-red;
  text-transform: uppercase;
  color: $Off-white;
  margin-top: 2.4rem;
  padding: 1rem 2rem;
  letter-spacing: 0.3rem;
  display: flex;
  gap: 8px;
  font-weight: 700;
  font-size: 1.2rem;
  border: none;
  @include respond(phone) {
    margin-bottom: 7rem;
    padding: 1.6rem 3rem;
    font-size: 1.3rem;
  }
}
