.sidenav {
  width: 0;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: $Off-white;
  overflow-x: hidden;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 40% 0 0 7%;
  color: $Very-dark-blue;
  font-weight: 600;
  .close-icon {
    height: 3.5rem;
    &-box {
      position: absolute;
      top: 3rem;
      right: 3rem;
      font-size: 36px;
    }
  }
}
